CLOUD_INFRA_DATA_DIR=cloud_infra_agent/Data

LLM_PROVIDER=openai

# --- OpenAI ---
OPENAI_API_KEY=sk-proj-
OPENAI_MODEL=

# --- Google Gemini ---
GOOGLE_GENAI_USE_VERTEXAI=FALSE
GOOGLE_API_KEY=
GOOGLE_MODEL=


BACKBONE_MODULE="data_collection_agents.cloud_infra_agent.agent_wrappers"
DEFAULT_PLATFORM=aws

API_KEY=
BATCH_DIR=./cloud_infra_inputs/Sample2
RUNS_DIR=
LOGS_DIR=
